<div fxLayout="row" fxLayout.xs="column" style="background-color: rgb(46, 44, 44);">
    <div fxLayout="column" fxFlex="25" fxHide.xs="true" style="height:300px">
    </div>
    <div fxLayout="column" fxFlex="25" fxFlex.xs="100" style="height:300px">
        <p class="pFooterHeader"> Categories </p>
        <!-- <p class="pFooterItem"> Contact US </p> -->

        <a class="nav-link" routerLink="/auth/contactus">
            <p class="pFooterItem"> Web Development </p>
        </a>

        <a class="nav-link" routerLink="/forms/default">
            <p class="pFooterItem"> Desktop App Development </p>
        </a>

        <a class="nav-link" routerLink="/forms/default">
            <p class="pFooterItem"> Mobile App Development </p>
        </a>

        <a class="nav-link" routerLink="/forms/default">
            <p class="pFooterItem"> Infra & Server Management </p>
        </a>
    </div>

    <div fxLayout="column" fxFlex="25" fxFlex.xs="100" style="height:300px">
        <p class="pFooterHeader"> Contacts </p>

        <a class="nav-link" routerLink="/curcourselist">
            <p class="pFooterItem"> Email </p>
        </a>
        <a class="nav-link" routerLink="/curcourselist">
            <p class="pFooterItem"> Skype </p>
        </a>
        <a class="nav-link" routerLink="/curcourselist">
            <p class="pFooterItem"> LinkedIn </p>
        </a>

        <a class="nav-link" routerLink="/curcourselist">
            <p class="pFooterItem"> Facebook </p>
        </a>
    </div>

    <div fxLayout="column" fxFlex="25" fxHide.xs="true" style="height:300px">
    </div>
</div>

<div fxLayout="row" style="background-color: rgb(53, 49, 49);text-align:
    center; height: 50px;">
    <p class="pFooterCopyright"> Web Developer in Serbia 2019 </p>
</div>