<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button fxHide.gt-md="true">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <button mat-icon-button fxHide.xs="true">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>Full-Stack Developer</h1>
        <span class="menu-spacer"></span>
        <div fxLayout="row" fxHide.xs="true">
            <a mat-button [routerLink]="'/accounts'"> Overview </a>
            <a mat-button [routerLink]="'/create-account'"> Web Development </a>
            <a mat-button [routerLink]="'/contacts'"> Desktop App Development </a>
            <a mat-button [routerLink]="'/create-contact'"> Mobile App Development </a>
            <a mat-button [routerLink]="'/activities'"> Infra & Server Management </a>
            <a mat-button [routerLink]="'/create-activity'"> About Me </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list >
            <a mat-list-item [routerLink]="'/accounts'"> Overview </a>
            <a mat-list-item [routerLink]="'/create-account'"> Web Development </a>
            <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
            <a mat-list-item [routerLink]="'/create-contact'"> Desktop App Development </a>
            <a mat-list-item [routerLink]="'/activities'"> Mobile App Development </a>
            <a mat-list-item [routerLink]="'/create-activity'"> Infra & Server Management </a>
            <a mat-list-item [routerLink]="'/create-activity'"> About Me </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>