<img src="assets/Images/land-2.jpg" class="ovtop_image">
<div fxLayout="column">
    <!-- Web Developer -->
    <div fxLayout="column" class="odiv_tab">
        <div fxLayout="row">
            <div fxLayout="row" fxFlex="40" fxHide.xs="true"></div>
            <div fxLayout="row" fxFlex="40" fxFlex.xs="100">
                <h1> 1. Web Development </h1>
            </div>
            <div fxLayout="row" fxFlex="20" fxHide.xs="true"></div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" class="subdiv">
            <div fxLayout="column" fxFlex="50">
                <p class="desc"> Descriptions</p>
                <p> Have been doing web development more than 10+ years as a
                    frontend and backend developer.</p>
            </div>

            <div fxLayout="column" fxFlex="20">
                <p class="skill"> Skills </p>
                <ul fxLayout="column">
                    <li> HTML 5 </li>
                    <li> jQuery </li>
                    <li> Angular </li>
                    <li> Laravel </li>
                    <li> CodeIgniter </li>
                    <li> ASP.NET Core </li>
                    <li> ASP.NET MVC 5 </li>
                </ul>
            </div>
            <div fxLayout="column" fxFlex="30" fxHide.xs="true">
                <img src="assets/Images/land-1.jpg" class="imgPreview">
            </div>

        </div>
    </div>

    <div fxLayout="row" class="seperatediv"></div>

    <!-- Desktop App Developer -->
    <div fxLayout="column" class="odiv_tab">
        <div fxLayout="row">
            <div fxLayout="row" fxFlex="40" fxHide.xs="true"></div>
            <div fxLayout="row" fxFlex="40" fxFlex.xs="100">
                <h1> 2. Desktop App Development </h1>
            </div>
            <div fxLayout="row" fxFlex="20" fxHide.xs="true"></div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" class="subdiv">
            <div fxLayout="column" fxFlex="50">
                <p class="desc"> Descriptions</p>
                <p> Have been doing web development more than 10+ years as a
                    frontend and backend developer.</p>
            </div>

            <div fxLayout="column" fxFlex="50">
                <p class="skill"> Skills </p>
                <ul fxLayout="column">
                    <li> C, C++ </li>
                    <li> C# </li>
                    <li> Java </li>
                </ul>
            </div>
        </div>
    </div>

    <div fxLayout="row" class="seperatediv"></div>

    <!-- Desktop App Developer -->
    <div fxLayout="column" class="odiv_tab">
        <div fxLayout="row">
            <div fxLayout="row" fxFlex="40" fxHide.xs="true"></div>
            <div fxLayout="row" fxFlex="40" fxFlex.xs="100">
                <h1> 3. Mobile App Development </h1>
            </div>
            <div fxLayout="row" fxFlex="20" fxHide.xs="true"></div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" class="subdiv">
            <div fxLayout="column" fxFlex="50">
                <p class="desc"> Descriptions</p>
                <p> Have been doing web development more than 10+ years as a
                    frontend and backend developer.</p>
            </div>

            <div fxLayout="column" fxFlex="50">
                <p class="skill"> Skills </p>
                <ul fxLayout="column">
                    <li> Android </li>
                    <li> iOS </li>
                </ul>
            </div>
        </div>
    </div>

    <div fxLayout="row" class="seperatediv"></div>

    <!-- Infra & Server Management -->
    <div fxLayout="column" class="odiv_tab">
        <div fxLayout="row">
            <div fxLayout="row" fxFlex="40" fxHide.xs="true"></div>
            <div fxLayout="row" fxFlex="40" fxFlex.xs="100">
                <h1> 4. Infra & Server Management </h1>
            </div>
            <div fxLayout="row" fxFlex="20" fxHide.xs="true"></div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" class="subdiv">
            <div fxLayout="column" fxFlex="50">
                <p class="desc"> Descriptions</p>
                <p> Have been doing web development more than 10+ years as a
                    frontend and backend developer.</p>
            </div>

            <div fxLayout="column" fxFlex="50">
                <p class="skill"> Skills </p>
                <ul fxLayout="column">
                    <li> Android </li>
                    <li> iOS </li>
                </ul>
            </div>
        </div>
    </div>

    <div fxLayout="row" class="seperatediv"></div>

    <!-- Successful Stories -->
    <div fxLayout="column" class="odiv_tab">
        <div fxLayout="row">
            <div fxLayout="row" fxFlex="40" fxHide.xs="true"></div>
            <div fxLayout="row" fxFlex="40" fxFlex.xs="100">
                <h1 class="success_story"> Successful Stories </h1>
            </div>
            <div fxLayout="row" fxFlex="20" fxHide.xs="true"></div>
        </div>
    </div>
</div>
<app-footer></app-footer>